.col-lg-8.mx-auto.forms
  .card
    .card-header
      %h2.text-center.card-title Sign up
    .card-body
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "attendees/shared/error_messages", resource: resource
        .form-group.row
          .col-lg-6
            = f.label :first_name
            = f.text_field :first_name, class: "form-control"
          .col-lg-6
            = f.label :last_name
            = f.text_field :last_name, class: "form-control"
        .form-group.row
          .col-lg-12
            = f.label :email
            = f.text_field :email, class: "form-control"
        .form-group.row
          .col-lg-6
            = f.label :age
            = f.number_field :age, class: "form-control"
          .col-lg-6
            = f.label :date_of_birth
            = f.date_field :date_of_birth , class: "form-control"
        .form-group.row
          .col-lg-6
            = f.label :password, "Password (#{@minimum_password_length} characters minimum)"
            = f.password_field :password, autocomplete: "new-password", class: "form-control", id: "user_password"
          .col-lg-6
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
        .actions.mt-4
          = f.submit "Sign up" ,class: "btn btn-secondary"