.col-lg-7.mx-auto.event-card
  .d-flex.justify-content-start.mb-5.back-button
  = link_to 'javascript:window.history.back();', class: "btn btn-outline-secondary" do
    %i.fa.fa-arrow-left{"aria-hidden" => "true", "style" => "font-size: 1em;"}
    %span.back-txt Back  
  .card.mt-5
    %h2.text-center.card-header Event Details
    .card-body
      %h5.card-title.text-center Title : #{@event.title}
      %h6.card-text Description : 
      =@event.description 
      %p
        .card-text From : #{@event.start_date.to_date} #{@event.start_date.strftime("at %I:%M%p")}
      %p.card-text To : #{@event.end_date.to_date} #{@event.end_date.strftime("at %I:%M%p")}
   
      %p.card-text Location : #{@event.location}
      %p.card-text Status : #{@event.status}
      %p.card-text Category : #{@event.category}
    .d-flex.justify-content-center.rsvp-button
      - if @event.status == 'upcoming'    
        = button_to "Rsvp", attendees_event_rsvps_path(event_id: @event.id) , class: "btn btn-secondary login-button", data: {'turbo_method': :post}